[submodule "dep/Controls"]
	path = Controls
	url = https://github.com/horsicq/Controls
[submodule "dep/FormatDialogs"]
	path = FormatDialogs
	url = https://github.com/horsicq/FormatDialogs
[submodule "dep/FormatWidgets"]
	path = FormatWidgets
	url = https://github.com/horsicq/FormatWidgets
[submodule "dep/Formats"]
	path = Formats
	url = https://github.com/horsicq/Formats
[submodule "dep/SpecAbstract"]
	path = SpecAbstract
	url = https://github.com/horsicq/SpecAbstract
[submodule "dep/StaticScan"]
	path = StaticScan
	url = https://github.com/horsicq/StaticScan
[submodule "dep/XArchive"]
	path = XArchive
	url = https://github.com/horsicq/XArchive
[submodule "dep/XCapstone"]
	path = XCapstone
	url = https://github.com/horsicq/XCapstone
[submodule "dep/XCppfilt"]
	path = XCppfilt
	url = https://github.com/horsicq/XCppfilt
[submodule "dep/XDEX"]
	path = XDEX
	url = https://github.com/horsicq/XDEX
[submodule "dep/XDemangle"]
	path = XDemangle
	url = https://github.com/horsicq/XDemangle
[submodule "dep/XDemangleWidget"]
	path = XDemangleWidget
	url = https://github.com/horsicq/XDemangleWidget
[submodule "dep/XDisasm"]
	path = XDisasm
	url = https://github.com/horsicq/XDisasm
[submodule "dep/XDisasmView"]
	path = XDisasmView
	url = https://github.com/horsicq/XDisasmView
[submodule "dep/XDynStructs"]
	path = XDynStructs
	url = https://github.com/horsicq/XDynStructs
[submodule "dep/XDynStructsEngine"]
	path = XDynStructsEngine
	url = https://github.com/horsicq/XDynStructsEngine
[submodule "dep/XDynStructsWidget"]
	path = XDynStructsWidget
	url = https://github.com/horsicq/XDynStructsWidget
[submodule "dep/XEntropyWidget"]
	path = XEntropyWidget
	url = https://github.com/horsicq/XEntropyWidget
[submodule "dep/XFileInfo"]
	path = XFileInfo
	url = https://github.com/horsicq/XFileInfo
[submodule "dep/XHashWidget"]
	path = XHashWidget
	url = https://github.com/horsicq/XHashWidget
[submodule "dep/XHexEdit"]
	path = XHexEdit
	url = https://github.com/horsicq/XHexEdit
[submodule "dep/XHexView"]
	path = XHexView
	url = https://github.com/horsicq/XHexView
[submodule "dep/XInfoDB"]
	path = XInfoDB
	url = https://github.com/horsicq/XInfoDB
[submodule "dep/XLLVMDemangler"]
	path = XLLVMDemangler
	url = https://github.com/horsicq/XLLVMDemangler
[submodule "dep/XMemoryMapWidget"]
	path = XMemoryMapWidget
	url = https://github.com/horsicq/XMemoryMapWidget
[submodule "dep/XOptions"]
	path = XOptions
	url = https://github.com/horsicq/XOptions
[submodule "dep/XPDF"]
	path = XPDF
	url = https://github.com/horsicq/XPDF
[submodule "dep/XQwt"]
	path = XQwt
	url = https://github.com/horsicq/XQwt
[submodule "dep/XShortcuts"]
	path = XShortcuts
	url = https://github.com/horsicq/XShortcuts
[submodule "dep/XStyles"]
	path = XStyles
	url = https://github.com/horsicq/XStyles
[submodule "dep/XSymbolsWidget"]
	path = XSymbolsWidget
	url = https://github.com/horsicq/XSymbolsWidget
[submodule "dep/XTranslation"]
	path = XTranslation
	url = https://github.com/horsicq/XTranslation
[submodule "dep/archive_widget"]
	path = archive_widget
	url = https://github.com/horsicq/archive_widget
[submodule "dep/build_tools"]
	path = build_tools
	url = https://github.com/horsicq/build_tools
[submodule "dep/nfd_widget"]
	path = nfd_widget
	url = https://github.com/horsicq/nfd_widget
[submodule "dep/signatures"]
	path = signatures
	url = https://github.com/horsicq/signatures
[submodule "dep/XOnlineTools"]
	path = XOnlineTools
	url = https://github.com/horsicq/XOnlineTools
[submodule "dep/XAboutWidget"]
	path = XAboutWidget
	url = https://github.com/horsicq/XAboutWidget
[submodule "dep/die_script"]
	path = die_script
	url = https://github.com/horsicq/die_script
[submodule "dep/hex_templates"]
	path = hex_templates
	url = https://github.com/horsicq/hex_templates
[submodule "dep/XExtractorWidget"]
	path = XExtractorWidget
	url = https://github.com/horsicq/XExtractorWidget
[submodule "dep/XExtractor"]
	path = XExtractor
	url = https://github.com/horsicq/XExtractor
[submodule "dep/XUpdate"]
	path = XUpdate
	url = https://github.com/horsicq/XUpdate
[submodule "dep/XGithub"]
	path = XGithub
	url = https://github.com/horsicq/XGithub
[submodule "dep/XVisualizationWidget"]
	path = XVisualizationWidget
	url = https://github.com/horsicq/XVisualizationWidget
[submodule "dep/XDecompiler"]
	path = XDecompiler
	url = https://github.com/horsicq/XDecompiler
[submodule "dep/XYara"]
	path = XYara
	url = https://github.com/horsicq/XYara
[submodule "dep/yara_widget"]
	path = yara_widget
	url = https://github.com/horsicq/yara_widget
[submodule "dep/die_widget"]
	path = die_widget
	url = https://github.com/horsicq/die_widget
[submodule "dep/Detect-It-Easy"]
	path = Detect-It-Easy
	url = https://github.com/horsicq/Detect-It-Easy
[submodule "dep/XDataConvertorWidget"]
	path = XDataConvertorWidget
	url = https://github.com/horsicq/XDataConvertorWidget
[submodule "XLog"]
	path = XLog
	url = https://github.com/horsicq/XLog
